<!-- <header> -->
	<nav class="navbar" style="background-color: #FBF9F3;">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    	<a class="navbar-brand"><span class="glyphicon glyphicon-film"></span></a>
	    	<a class="navbar-brand" href="/home">Hypertube</a>
	    </div>
	    <ul class="nav navbar-nav">
	      	<li class="active">
	      		<a href="/home" class="trn">Home</a>
			</li>
			<li class="active"><a href="/home/myProfile" class="trn">My profile</a></li>
	      <li class="active"><a href="/home/allProfiles" class="trn">All profiles</a></li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
			<li class="dropdown language-selector">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
					<img id="language" src="/img/flag-gb.png"  width='20' />
				</a>
				<ul class="dropdown-menu pull-right" >
					<li id="language-enA" class="active">
						<a href="#" id="language-en">
							<img  src="/img/flag-gb.png" width='30' />
							<span>English</span>
						</a>
					</li>
					<li id="language-frA">
						<a href="#" id="language-fr">
							<img src="/img/flag-fr.png" width='30' />
							<span>Français</span>
						</a>
					</li>
				</ul>
			</li>
	    	<li><a id="user_logout" href="/logout" style="cursor:pointer;"><span class="trn">Logout</span> <span class="glyphicon glyphicon-log-out"></span></a></li>
	    </ul>
	  </div>
	</nav>
<!-- </header> -->
